@import "../../common/colors.scss";

.nav-menu {
  width: 90%;
  background-color: $base-dark-green;
  margin-top: 0;
  margin-bottom: 0;
  height: inherit;
  padding-bottom: 5rem;
  min-height: calc(100vh - 6rem);
  height: auto;
  position: absolute;
  transform: translateX(calc(-100%));
  z-index: 100;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  .menu-link {
    padding: 1rem 3rem;
    color: $base-light-beige;
    font-size: 1.8rem;
    border-top: 1px solid $base-light-beige;
    a {
      font-size: 1.8rem;
      color: $base-light-beige;
      text-decoration: none;
      line-height: 5.734rem;
    }
  }
}
.social-media-links-container {
  height: 10rem;
  background-color: $image-beige;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 2rem;
  display: flex;
  align-items: end;
  .container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
  }
}

.slide-right {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.slide-left {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%0);
    transform: translateX(-100%);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
