$base-green: #3a5343;
$base-dark-green: #2a332f;
$base-light-green: #659071;
$base-dark-beige: #ece2cc;
$base-light-beige: #faf4e8;
$base-dark-brown: #303030;
$base-light-brown: #303030;
$base-white: #f8f6f1;
$base-black: #303030;
$text-dark: #292929;
$hover-green: #313835;
$base-dar-button: #262b2c;
$image-beige: #c7b5a0;
$overlay-bg: #6b6742b5;
