@import "../../common/colors.scss";

.header-container {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: transparent;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // border-bottom: thin solid rgba(255, 255, 255, 0.25);
  z-index: 5;

  .ham-container {
    width: 12rem;
    height: 100%;
    .close {
      height: 100%;
      width: 60px;
      display: flex;
      padding: 7px;
      align-items: center;
      justify-content: center;
    }
  }
  .wrapper {
    height: 100%;
    width: 60px;
    display: flex;
    padding: 7px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &::before {
      content: "";
      width: 50%;
      height: 1px;
      margin-bottom: 7px;
      background-color: $base-dark-green;
    }
    &::after {
      content: "";
      width: 50%;
      height: 1px;
      margin-top: 7px;
      background-color: $base-dark-green;
    }
  }
  .icons-container {
    width: 12rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .ham {
    width: 50%;
    height: 1px;
    background-color: $base-dark-green;
  }
  img {
    height: 29px;
  }
}
